include ../mixins

doctype html

html(lang="en", ng-app="BoilerplateApp")
	head
		meta(charset="utf-8")
		link(rel="shortcut icon", href="/media/img/favicon.ico")
		title Boilerplate
		
		base(href="/")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Do Stuff")
        meta(name="author", content="ofir123")
		
		{% if config.DEBUG %}
		
		// Including livereload in production will cause a performance hit for users,
		// so django will not emit the following line if the settings are not set to debug.
		// buildCfg is provided by gulp and is the same as build.config.js.
		+script("http://localhost:" + buildCfg.liveReloadPort + "/livereload.js?snipver=1")
		
		{% endif %}
		
		+script("http://code.jquery.com/jquery-2.1.0.min.js")
        +style("https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
        +style("https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
        +script("https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
        +style("http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.css")
        +script("http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.1/toastr.min.js")
        +style("/media/artifacts/font-awesome/4.0.3/css/font-awesome.css")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-resource.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-animate.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-sanitize.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
        +script("/media/artifacts/ui-keypress/0.2.3/keypress.min.js")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js")
        +style("https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.2.0/select.min.css")
        +script("https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.2.0/select.min.js")
		
		+style("/media/build/app.css")
		+script("/media/build/app.js")
		
	body(ng-cloak)
		div#wrapper(ui-view)
		